/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$white: #fefefe;
$silver-grey: #efefef;
$silver: #cccccc;
$seashell: #f1f1f1;

body {
  margin: 0;
  padding: 0;
  background-color: DodgerBlue;

  h1 {
    color: whiteSmoke;
  }

  h4 {
    color: #111111;
    font-weight: 800;
    margin-left: .1rem;
    text-transform: uppercase;
  }

  color: grey;
}

.row {
  display: flex;
  align-items: flex-start;

  .list {
    background-color: $seashell;
  }

  .col-3 {
    width: 300px;
    margin: .5rem;
    padding: 1rem;

    .card {
      background-color: $white;
    }
  }
}

.row.center {
  justify-content: center;
}

.row-column {
  display: flex;
  flex-direct: column;
}

.card {
  border: 1px solid $silver;
  padding: 1rem;
  border-radius: .3rem;
  margin-bottom: .5rem;
}

.btn {
  padding: .3rem 0;
  color: darkGray;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.bg-btn {
  width: 20rem;
  height: 3rem;
  padding: 1rem .5rem;
  border-radius: .3rem;
  border: 1px solid white;
  cursor: pointer;
}

form {
  margin: .5rem 0;

  input[type=text] {
    margin-top: 1rem;
    display: inline-flex;
    width: 98%;
    height: 4rem;
    margin-bottom: .5rem;
    transition: background 85ms ease-in,border-color 85ms ease-in;
  }

  input[type=submit] {
    padding: .5rem 1rem;
    background-color: #61bd4f;
    border-radius: 5px;
    border: none;
    color: #fefefe;
    font-weight: 600;
    font-size: 14px;
    margin-right: 1rem;
  }
}

a.btn {
  //  color: white;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

nav {
  display: flex;
  color: $white;

  ul {
    list-style: none;
    color: $white;
    align-self: center;
    margin: 0;
  }

  li {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;

    a {
      padding: 1rem;
      text-decoration: none;
      color: white;
    }
  }

  .logo {}

  .singin {
    margin-left: auto;
  }
}

.progress-bar {
  margin: 1rem 0;

  .rc-progress-line {
    width: 90%;
  }
}

.todo-list ul {
  padding: 0
}
.todo-item {
  list-style: none;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem;
  padding: .5rem;
  border-radius: 30%;

}
